<html>
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container"><br><br><br><br><br><br><br>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<center>
<h1><u>registration form</u></h1>
<div class="form-group">
<form action="/signup" method="post">
<label class="control-label col-md-2">name:</label>
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
<input type="text" name="name" placeholder="enter your name" class="form-control"><br><br>
</div><br>
<label class="control-label col-md-2">email:</label>
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
<input type="email" name="email" placeholder="emailid" required="" class="form-control"><br><br>
</div><br>
<label class="control-label col-md-2">password:</label>
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
<input type="password" name="password" placeholder="password" required="" class="form-control"><br><br>
</div>
<label class="control-label col-md-2">phonenumber:</label>
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
<input type="tel" name="phonenumber" placeholder="enter your mobile number" class="form-control"><br><br>
</div>
<label>gender:</label>
<input type="radio" name="gender">male
<input type="radio" name="gender">female<br><br>
<input type="submit" name="signup">
</form>
</center>


<div class="container"><br><br><br><br><br><br><br>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<center>
<form action="/login" method="post">
<h4>loginform</h4>
<p class="alert alert-danger">#{err}</p>
<div class="form-group">
<label class="control-label col-md-2">name</label>
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-envelope-open" aria-hidden="true"></i></span>
<input type="text" name="name" placeholder="emailid" required="" class="form-control"><br><br>
</div><br>
<label class="control-label col-md-2">password:</label>
<div class="input-group">
<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
<input type="password" name="password" placeholder="password" required="" class="form-control"><br><br>
</div>
<input type="submit" name="login"><br><br>
<a href="/forgotpassword"><u>forgotpassword?</u></a>
</div>
</form>
</center>
</div>
</div>
</div>
</body>
</html>